CargadortxtTSS/WindowsFormsApp1/Connected Services/WSEmpleados/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFEmpleados" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFEmpleados" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpleador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleador" nillable="true" type="tns:Empleador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleador" nillable="true" type="tns:ArrayOfEmpleador" />
  <xs:complexType name="Empleador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conomina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descuento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fnacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sueldoneto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sueldosecundario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipodocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleador" nillable="true" type="tns:Empleador" />
</xs:schema>